@font-face {
  font-family: Georgia, "Times New Roman", Times, serif;
  src: url(./Папка/Шрифт.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ----------------------------MAin------------------------------- */

:root {
  --purple-color: #f21f5b;
  --blue-color: rgba(25, 70, 186, 0.8);
  --black-color: #222;
  --gray-color: #c4c4c4;
  --white-gray-color:#f2f2f2;
  --white-color: #fff;
  --ccc-color:#ccc;
  

  --o-transition-duration: 0.2s;
}

body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  background-color: #e5e5e5;
}

a{
  text-decoration: none;
  transition-duration: var(--o-transition-duration);
}

.header-container {
  display: grid; 
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
  justify-content: space-between; 
  align-items: flex-start; 
  gap: 24px;
  margin: 48px 0 0 ;
}

/* ------------Serch------------- OK*/

.inner_serch {
  overflow-x: hidden;
  background-color: var(--white-color); 
  padding: 32px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  max-width: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  box-sizing: border-box;
}

.search__bar {
  height: 2.5rem;
  width: 50%;
  background-color: var(--white-gray-color);
  border: 1px solid var(--ccc-color); 
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}


.search__select {
  font-family: Georgia, 'Times New Roman', Times;
  border: none;
  background-color: transparent;
  margin-left: 32px;
  margin-right: 32px;
  padding: 4px; 
}

.search__select:focus {
  outline: none;
}

.search__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-gray-color);
  height: 2.5em;
  width: 54px;
  cursor: pointer;
  border: 1px solid var(--ccc-color);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  
}


.login__button {
  min-width: 6.75rem;
  height: 2.5rem;
  font-weight: 700;
  padding: 8px 10px; 
  background-color: var(--white-color); 
  color: var(--blue-color); 
  border: 1px solid var(--blue-color) ;
  border-radius: 4px; 
  cursor: pointer; 
}



.search__button:hover {
  background-color: var(--white-color); 
  transition: var(--o-transition-duration);
}

.login__button:hover {
  background-color: var(--blue-color);
  color:var(--white-color);
  transition: var(--o-transition-duration);
}
/* -----------Menu--------------- */

.header__menu {
  background-color: var(--white-color);
  padding: 1.25rem;
  min-width: 16.75rem;
  margin-right: 24px;
  margin-left: 92px; 
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}



.header__menu_name {
  margin-bottom: 12px;  
}

.header__menu_link, .banner-button {
  display: inline-flex;
  align-items: center;
  color: var(--black-color);
  padding: 12px;
  column-gap: 8px;
  box-sizing: border-box;
}

.header__menu_link.is-current::after{
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--purple-color);
  border-radius: 50%;
}

.header__menu_link:hover{
  color: var(--purple-color);
  background-color: rgba(0, 0, 0, 0.1); 
  border-radius: 4px;
}

.header__menu_icon {
  margin-right: 12px;
}

.in-chemistry {
  margin-left: 4px;

}



/* --------------Baners----------- */

.banner-container {
  display: grid;
  grid-template-areas: 
      "banner1 banner1"
      "banner2 banner3";
  grid-template-columns: 4fr 4fr;
  gap: 44px; 
  margin-right: 92px;
}

.banner {
  display: grid;
  grid-template-areas: 
      "image"
      "content"; 
  background-color: var(--white-color);
  border-radius: 8px;
  overflow: hidden;
}

.banner:nth-child(1) {
  grid-area: banner1;
}

.banner:nth-child(2) {
  grid-area: banner2;
}

.banner:nth-child(3) {
  grid-area: banner3;
}

.banner__image {
  grid-area: image; /* Назначаем область для изображения */
  background-image: url('your-image-url-1.jpg'); /* Замените на URL вашего изображения */
  background-size: cover; /* Обеспечивает покрытие всего блока изображением */
  background-position: center; /* Центрирование изображения */
  height: 292px;
  
}

.banner__content {
  grid-area: content; /* Назначаем область для контента */
  display: flex;
  flex-direction: column; /* Вертикальная компоновка текста */
  padding: 16px; /* Отступы для контента */
}

.banner__title {
  font-size: 20px; /* Размер шрифта заголовка */
  margin: 0; /* Убираем отступы */
}

.banner__description {
  font-size: 14px; /* Размер шрифта описания */
  margin: 10px 0; /* Отступы сверху и снизу */
}

.banner__button {
  padding: 10px 20px; /* Отступы кнопки */
  background-color: var(--blue-color); /* Цвет фона кнопки */
  color: var(--white-color);
  border-radius: 5px; /* Закругление углов кнопки */
  transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.banner__button:hover {
  background-color: var(--black-color); 
}

@media (max-width: 768px) {
  .banner-container {
      grid-template-areas: 
          "banner1" 
          "banner2" 
          "banner3"; 
      grid-template-columns: 1fr; 
  }
}

/* ----------------Section1------------------ */

.main__shop_cards  {
  display: flex;
  margin-left: 90px;
  margin-top: 130px;
  
}

.shop__card {
  width: 287px;
  min-height: 195px;
  margin-left: 45px;
  flex-shrink: 0;
  background-color: #FFF;
  box-shadow: 1px 2px 4px rgba(0, 0, 0 ,0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: var(--o-transition-duration);
}

.shop__card:hover {
  transform: translateY(-10px);
}

.shop__card_ico{
  position: relative;
  top: 38px;
  left: 29px;
}

.shop__card_title {
  position: relative;
  top: 50px;
  left: 29px;

}

.card__title_name {
  font-size: 20px;
  color: var(--black-color);

}

.card__title_parag { 
  font-size: 14px;
  color: #C4C4C4;
}

/* ----------------Section2------------------ */

.main_items_case {
  margin-left: 90px;
  margin-top: 190px;
}

.main_items_duble {
  margin-top: 190px;
}

.main__items {
  background-color: #fff;
  width: 1320px;
  min-height: 480px;
  border-radius: 9px;
 
}

.shop_list {
  display: flex;
  position: relative;
  top: 29px;
  left: 33px;
}

.shop_link {

  margin-right: 40px;
  margin-bottom: 79px;
  padding: 5px 20px; 
  display: block;
  text-decoration: none; 
  color: black; 
  border-bottom: 2px solid gray; 
}


/* ------------ */
.in-select {
  position: relative;
    color: white; 
    background-color: rgba(25, 70, 186, 0.8);
    display: inline-block; 
    border-radius: 5px;
    border-bottom: none;
}

/* --------- */


.inner_card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 90px;
  width: 193px;
  height: 288px;
  transition: var(--o-transition-duration);
  margin-bottom: 40px;
}

.main_items_inner {
  display: flex; 
  margin-left: 44px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.inner_card img {
  position: relative; 
  width: 200px;
  bottom: 10px;
  left: 10px;
  z-index: 1; 
}

.inner_card::before {
  content: '';
  position: absolute;
  top: 40px;
  width: 130px; 
  height: 90px; 
  background-color: rgba(25, 70, 186, 0.8);
  z-index: 0;
}

.card_name {
  font-size: 24px;
  margin-left: 0;
  margin-top: 0;
}

.card__name_p {
  font-size: 14px;
  width: 155px;
  color: gray;
}

.card__button { 
  width: 116px;
  height: 26px;
  font-size: 14px;
  color:#fff ;
  background-color: rgba(25, 70, 186, 0.8);
  border: none;
  margin-top: 15px;
  border-radius: 1.3px;
}

.card__button:hover {
  background-color: #3949E7;
}

.main_items_name {
  font-size: 24px;
  margin-bottom: 24px;
}

.footer img {
  margin-top: 200px;
  width: 100%; 
}